@model IEnumerable<Adventureworks.Domain5.VendorProposal>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            VendorId
        </th>
        <th>
            Date
        </th>
        <th>
            Value
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VendorProposalId }) |
            @Html.ActionLink("Details", "Details", new { id=item.VendorProposalId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VendorProposalId })
        </td>
        <td>
			@item.VendorId
        </td>
        <td>
			@String.Format("{0:g}", item.Date)
        </td>
        <td>
			@String.Format("{0:F}", item.Value)
        </td>
    </tr>
}

</table>


