@model IEnumerable<Adventureworks.Domain5.ShoppingCartItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            ShoppingCartID
        </th>
        <th>
            Quantity
        </th>
        <th>
            DateCreated
        </th>
        <th>
            ModifiedDate
        </th>
        <th>
            Product
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ShoppingCartItemID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ShoppingCartItemID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ShoppingCartItemID })
        </td>
        <td>
			@item.ShoppingCartID
        </td>
        <td>
			@item.Quantity
        </td>
        <td>
			@String.Format("{0:g}", item.DateCreated)
        </td>
        <td>
			@String.Format("{0:g}", item.ModifiedDate)
        </td>
        <td>
			@(item.Product == null ? "None" : item.Product.Name)
        </td>
    </tr>
}

</table>


