@if (Request.IsAuthenticated) {
    <text>
        Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </text>
} else {
    <ul class="accountlinks">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@*@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })*@
            @Html.ActionLink("Sign in", "Login", "Account", routeValues: null, htmlAttributes: new { style = "background: url('" + Url.Content("~/Images/Keys.png") + "') no-repeat right; display:block; height:50px;width:50px",@class = "SiteLinkBold"})
        @*<img src="@Url.Content("~/Content/Images/Keys.png")" alt="" /><br />Sign In</a> ,class = "SiteLinkBold"*@
        </li>
    </ul>
}
